.loader
{
    background-color: #fff;
    opacity: 0.9;
    position: fixed;
    inset: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disappear 200ms forwards ; 
    animation-delay: 3s;
    .loader-quart{
    border: 6px solid #FF79DA;
    border-right: 6px solid #9356DC;
    border-bottom: 6px solid aquamarine;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    }
}
@keyframes spin
{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
       
    }
}


@keyframes disappear
{
    0%{
        transform: scale(1 );
    }
    100%{
        transform: scale(0);
    }
}

@keyframes pulsation
{
 0% {
     transform: translateY(0%);
    
     
 }
 50% {
    transform: translateY(20%);
}
 
 100% {
     transform: translateY(0%);
 }
}

 /******************************\
 appear apparition progressive
 \******************************/
 @keyframes appear
 {
     0%{
         transform: translateY(-50%);
         opacity: 0;
         
     }
     100%{
         transform: translateY(0%);
         opacity: 1;
     }
 }
 /******************************\
 rotation slide
 \******************************/
 @keyframes rotation
 {
     0%{
         transform: rotate(180deg);
     }
     100%{
         transform: rotate(0deg);
     }
 }

 /**************************\
 SLIDE LEFT
 \**************************/

 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  }
  @-webkit-keyframes slide-leftdesktop {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-89px);
              transform: translateX(-89px);
    }
  }
  @keyframes slide-leftdesktop {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-89px);
              transform: translateX(-89px);
    }
  }


@media screen and (max-width:414px)  
{
    @-webkit-keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-49px);
                  transform: translateX(-49px);
        }
      }
      @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-49px);
                  transform: translateX(-49px);
        }
      }
}

@media screen and (max-width:393px)  
{
    @-webkit-keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-70px);
                  transform: translateX(-70px);
        }
      }
      @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-70px);
                  transform: translateX(-70px);
        }
      }
}
@media screen and (max-width:375px)  
{
    @-webkit-keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-80px);
                  transform: translateX(-80px);
        }
      }
      @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-80px);
                  transform: translateX(-80px);
        }
      }
}
@media screen and (max-width:360px)  
{
    @-webkit-keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-79px);
                  transform: translateX(-79px);
        }
      }
      @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-79px);
                  transform: translateX(-79px);
        }
      }
}
  
