// FOOTER 
.conteneur_child_footer
{
    display: flex;
    flex-direction: column; 
    .logo_footer{
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    font-style: italic;
    margin: 0px;
    font-family: 'Shrikhand', sans-serif;
}

.contenu_footer, .contenu_footer_devenir{
    display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-between;
    color: white; 
    .title_proposer, .title_footer{
    margin: 5px 0px 5px 0px ; 
    font-size: 1.2em;
    }
    .title_footer a{
    color: white;
    }
}
.contenu_footer_devenir{
    width: 185px;
}
}

footer {
    background-color: rgb(54, 53, 53);
    padding: 20px;
}