
@mixin googleFonts($fonts){
    @import url('https://fonts.googleapis.com/css2?family=#{$fonts}');
};

@mixin border-radius($degres, $degres2, $degres3, $degres3){
    -moz-border-radius:$degres;
    -webkit-border-radius:$degres;
    -ms-border-radius:$degres;
     border-radius:$degres;
}
@mixin heightWidth($height, $width){
    height: $height;
    width: $width;
}
@include googleFonts(Roboto);
@include googleFonts(Shrikhand);
%displayCenter{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
%displaySpace-around{
    display: flex;
    justify-content: space-around;   
}
%displaySpace-between{
    display: flex;
    justify-content: space-between;   
}


*{
font-family: 'Roboto', sans-serif;  
}

%btn{

    height: 45px;
    width: 240px;
    border: none;
    @include border-radius(25px, 25px, 25px, 25px);
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 1em;
    background-image: linear-gradient(to top,#9356DC,#FF79DA );
    margin-bottom: 40px;
    &:hover{    
    box-shadow: 6px 3px 6px rgb(153, 147, 147);
    opacity: 0.9;
    }
}

a{
    text-decoration: none;
    color: black;
}
