// MIXINS EXTEND INCLUDE @IMPORT *

@import "_similaire.scss";
@import "_footer.scss";
@import "_animations.scss";
// MAIN HEADER FORM
main
{
    margin: auto;
    
    header{ 
    @extend %displayCenter;
    @include heightWidth(50px, 100%);
    background-color: white;  
    position: fixed;
    top: -15px;
    padding-top: 20px;
    z-index: 1;
    
    }
    .conteneur_localisation{
    @extend %displayCenter;
    @include heightWidth(90px, 100%);
    background-color: #F2F2F2;
    box-shadow: 6px 6px 6px 6px rgb(230, 228, 228);
     
    .conteneur_child_localisation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include heightWidth(50px, 40px);
    
    .localisation_icon{
    font-size: 1em;
    }
    } 
    input
    {
    outline: none;
    border: 2px solid transparent;
    background-color: #F2F2F2;
    font-size: 1em;
    margin-left: 10px;
    }
    }
   
}

form{
    margin-top: 50px;
}
::placeholder{
    
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}

// SECTION RESERVATION

#section_reservation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    text-align: center;
    @include heightWidth(230px, 100%);
    h1{  
    font-size:1.5em;
    margin-bottom: 0px; 
    }
    .découvrez{
    font-size: 1.2em;
    }
    .btn{
        @extend %btn;
    }
}
// SECTION FONCTIONNEMENT
.fonc {
    margin-left: 30px;
    margin-top: 20px;
}
.conteneur_fonctionnement
{
    @extend %displaySpace-around;
    @include heightWidth(180px, 69%);
    flex-wrap: wrap;
    margin: auto;
    .Carte_choisissez
{
    margin: auto;
    @include heightWidth(80px, 280px);
    background-color: #F7F7F7;
    @include border-radius(25px, 25px, 25px, 25px);
    box-shadow: 6px 6px 6px #F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &:hover
    {
        transition: ease-in-out;
        transform: scale(1.01);
        background: #f5edff;
    }
    .Carte_icone
    {
    margin-right: 15px;
    }
    .Carte_titre
    {
    font-size: 1em;
    }
    .Carte_numero{
    @extend %displayCenter;
    background-color: #9356DC;
    @include border-radius(20px, 20px, 20px, 20px);
    @include heightWidth(30px, 30px);
    font-weight: bold;
    color: white;
    position: relative;
    left: -15px;
    }
    
}
}
// RESTAURANTS
#section_restaurants
{
    background-color: #F7F7F7;

    .section_restaurants_title{
    @extend %displaySpace-between;
    margin-left: 30px;
    }    
}
.conteneur_carte_restaurant
{
    @extend %displaySpace-around;
    flex-wrap: wrap;
    margin: auto;
    .carte_restaurant{
    @include heightWidth(300px, 45%);
    box-shadow: 6px 6px 6px 6px #e0dfdf;
    @include border-radius(20px, 20px, 20px, 20px);
    margin-bottom: 50px;
    .img_resto img
{

  @include heightWidth(220px, 100%);
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
  object-fit: cover;
}
}   
.new{
    position: relative;
}
.new::before{
    @extend %displayCenter;
    content: "Nouveau";
    position: absolute;
    @include heightWidth(2rem, 5rem);
    background-color: #99E2D0;
    @include border-radius(5px, 5px, 5px, 5px);
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    color: #1f997c;
    animation: pulsation 1s infinite;
}
    
}
.conteneur_description
{
    @extend %displaySpace-between;
    width: 100%;
    .conteneur_description_child{
    
    width: 100%;
    @extend %displaySpace-between;
    padding: 10px 20px;
    }
.restaurant_name, .restaurant_localité{
    margin: 0px;
    font-size: 1.3em;
    }

.restaurant_localité{
    font-size: 1em;
    font-family: 'roboto', sans-serif;
    }

}
.coeur
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    @include heightWidth(50px, 50px);
    font-size: 1.7em; 
    .has i{
    position: relative;
    left: -27px;
    top: 1px;
    background-image: linear-gradient(to top,#9356DC,#FF79DA );
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;
    opacity: 0;
    transition: all 200ms ease-in-out;
    &:hover{
        opacity: 1;
        transform:translateY(-3%) scale(1.09)
    }
    } 
}

