// MIXINS EXTEND INCLUDE @IMPORT

@import "_btn.scss";


// MAIN HEADER FORM
main
{
    margin: auto;
    
    header{ 
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;  
    position: fixed;
    top: -15px;
    height: 50px;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    }
    .conteneur_localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #F2F2F2;
    box-shadow: 6px 6px 6px 6px rgb(230, 228, 228);
     
    .conteneur_child_localisation{
    display: flex;
    justify-content: space-around;
    width: 40px; 
    
    .localisation_icon{
    font-size: 1em;
    }
    } 
    input
    {
    outline: none;
    border: 2px solid transparent;
    background-color: #F2F2F2;
    font-size: 1em;
    }
    }
   
}

form{
    margin-top: 50px;
}
::placeholder{
    
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}

// SECTION RESERVATION

#section_reservation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    text-align: center;
    height: 230px;
    h1{  
    font-size:1.5em;
    margin-bottom: 0px; 
    }
    .découvrez{
    font-size: 1.2em;
    }
    .btn{
        @extend %btn;
    }
}
// SECTION FONCTIONNEMENT
.fonc {
    margin-left: 30px;
}
.conteneur_fonctionnement
{
    display: flex;
    justify-content: space-around;
    height: 180px;
    flex-wrap: wrap;
    width: 69%;
    margin: auto;
    .Carte_choisissez
{
    margin: auto;
    height: 80px;
    width: 280px;
    background-color: #F7F7F7;
    border-radius: 25px ;
    box-shadow: 6px 6px 6px #F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &:hover
    {
        transition: ease-in-out;
        transform: scale(1.01);
        background: #f5edff;
    }
    .Carte_icone
    {
    margin-right: 15px;
    }
    .Carte_titre
    {
    font-size: 1em;
    }
    .Carte_numero{
    background-color: #9356DC;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
    }
    
}
}