// MIXINS EXTEND INCLUDE @IMPORT *

@import "_similaire.scss";
@import "_footer.scss";
@import "_animations.scss";

// HEADER

header
{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: -10px;
    justify-content: center;


        .back{
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        width: 100px;

    }   
    
}
// IMAGE DE PRESENTATION
.img_resto img
{
  height: 400px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
  bottom: -60px;
 
 
}
// CONTENEUR PRINCIPAL HEADER

#conteneur_menu
{
    background-color: #f2f2f2;
    border-radius: 30px 30px 0px 0px;
    padding-bottom: 30px;
    width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
  .header_menu
  {
    display: flex;
    justify-content: space-around;
  h1{
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
  }
  .coeur{
  display: flex;
  align-items: center;
  font-size: 1.5em;
    .has i{
    position: relative;
    left: -24px;
    top:1px;
    background-image: linear-gradient(to top,#9356DC,#FF79DA );
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;
    opacity: 0;
    transition: all 200ms ease-in-out;
    cursor: pointer; 
    
    &:hover{
    opacity: 1;
    transform: translateY(-5%) scale(1.12) ;
    }
}
   }
  }
}
// CONTENEUR PRINCIPAL MAIN
.conteneur_menu_main
{
    display: flex; 
    flex-direction: column;
    margin: auto;
    .entrées, .plats, .desserts
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title_entree{
     font-weight: 400;
     margin-bottom: 2px;
    }
    .line-t{
    border: 1px solid #99E2D0;
    width: 60px;
    margin-bottom: 15px;
    }
    .menu{
    height: 75px;
    width: 700px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;   
    box-shadow: 6px 6px 6px 6px #e4e0e0;
    animation: appear 3s;
    overflow: hidden;  
    padding-left: 30px;
    .conteneur_titledescription
    {
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }
    .title_epd{
       margin: 0px;
       font-size: 1em;
    }
    .description_epd{
    font-size: 0.9em;
    margin: 0px;
    }
    .conteneur_price_slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    margin-right: -90px;
    .slide-left{
    background-color: #99E2D0;
    height: 75px;
    width: 75px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99E2D0;
    i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 20px;
  }
  }
  }
}
}
// BTN
.conteneur_button
{
  display: flex;
  justify-content: center;
  .btn{
    @extend %btn;
  }
}
